/* header */
body{
    background: #fff;
}

.container{
    max-width: 1500px;
    margin: auto;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.logo{
    display: flex;
    align-items: center;
    gap: 1px;
}
img {
    width: 50px;
    height: 50px;
   
    color:blue;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-size: 20px;
}
.logo h2{
    font-size: 30px;

}
.logo span{
    font-size: 30px;
    font-weight: bold;
}
.menu{
    display: flex;
    list-style: none;
    gap: 25px;
}
.menu a{
    align-items: center;
    text-decoration: none;
    color: #555;
    font-width: 500;
    font-size: 20px;
   
}
.btn{
    text-decoration: none;
    background: #2563eb;
    color: #fff;
    padding: 12px 28px;
    border-radius: 10px;
    font-weight: bold;
    transform: 3s;
}
.btn:hover{
    background: #1d4ed8;
} 
/* header end */
/* section benner */

.hero-p{
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(./assets/banner.jpg) ;
    max-width: 1700px;
    margin: auto;
    height: 70vh;
    display: flex;
    background-size: cover;
    background-position: center;
    background-repeat:on-repeat;
    justify-content: center;
    align-items: baseline;
    text-align: center;
   
 
}


.content{
    position: relative;
    max-width: 750px;
    color: #fff;
    padding: px;
}
.content h1 {
    font-size: 70px;
    
}
.prg{
   font-size: 20px;
   color: #dad7d7cb;
   margin-bottom: 300px;
}
.butt{
    margin-bottom: 200px;
}
/* section benner end */

/* .speakers section */
h2{
    text-align: center;
    font-size: 50px;
    margin-bottom: 40px;
}
.speakers-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}
.card{
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}
.card img{
    width: 100%;
    height: 350px;
}
.content{
    padding: 20px;
}
.content span{
    font-size: 15px;
    color:rgb(63, 63, 170);
    font-weight: bold;

}
.content h3{
    margin: 10px 0;
    font-size: 25px;
    color: black;
}

.content p{
    color: #666;
    font-size: 15px;
}
/* speakers section end */
/* pricing section  */
.title{
    text-align: center;
    margin-bottom: 40px;
}
.title h2{
    font-size: 50px;
    margin-bottom: 10px;
}
.title p{
    color: #666;
}
.pricing-content{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;

}
.card-c{
    background: #fff;
    height: 500px;
    border-radius: 13px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
   
}
.card-active{
    background:#0d1326 ;
    color: #fff;
    border-radius: 13px;
    height: 500px;
    
}
.card-c h5{
    color: #777;
    
}
.card-active h5{
    color: #ddd;
}
.card-c h1{
    font-size: 50px;
}
.card-c span{
    content: #888;
}
.card-active span{
    color: #ccc;
}
.card-c ul{
    margin: 30px 0;
}
.card-c ul li{
    margin-bottom: 12px;
    list-style: disc;
    margin-left: 20px;
}
.card-active ul li{
     margin-bottom: 12px;
    list-style: disc;
    margin-left: 20px;
}
.butto{
    width: 70%;
    margin-left: 60px;
    padding: 14px;
    border:1px solid #333;
    border-radius: 12px;
    background: #fff;
}
.btt{
    width: 70%;
    margin-left: 60px;
    padding: 14px;
    border:1px solid blue;
    border-radius: 12px;
    background: #fff;
}
li::marker{
    color: blue;
}
.card-active button{
    background: blue;
    color: #fff;
    width: 70%;
    margin-left: 60px;
    padding: 14px;
    border:1px solid blue;
    border-radius: 12px;
   margin-top: 50px;
}
/* pricing section end */